/* Global */
html, body{
    margin:0;
    padding: 0;
    height: 100%;
    font-weight: bold;
}


/* Container */
.container{
    min-height: 100%;
    position: relative;
    width: 100%;
    font-weight: bold;
}

/* Nav Bar */
.hidden{
    display: none;
}

.hamburger {
    font-size: 30px;
    margin-right: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

.navBar {
    width: 100%;
    background-color: #111;
    color: white;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-links{
    display: none;
}

.link{
    padding: 10px;
}

.link a {
    color: whitesmoke;
    text-decoration: none;
  font-weight: bold;
  width: 100%;
}

.show-nav {
    background-color: black;
    text-align: center;
    width: 100%;
    top: 55px;
    position: absolute;
    display: block;
}


/* Footer */
.footer{
    font-size: 70%;
    position: relative;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    height: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(15px, 1fr));
    /* grid-template-rows: 50px; */
    min-height: 60px;
}
.footer-left{
    padding-top: 10px;
    grid-column: 1;
    text-align: left;
}
.footer-middle{
    padding-top: 10px;
    grid-column: 2;
    text-align: center;
}
.footer-address{
    /* margin-bottom: 10px; */
}
.footer-phone{

}
.footer-right{
    padding-top: 10px;
    grid-column: 3;
}
.brand-logo{
    float: right;
    /* background-color: blue; */
}
.brand-logo > *{
    margin-right: 10px;
}
.brand-button{
    border: none;
    margin-left: 5px;
    background: none;
    cursor:pointer;
}

/* Landing Page */
.banner{
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, auto) minmax(fit-content, fit-content), minmax(0, auto);
    grid-template-rows: minmax(100px, 440px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url("../public/choice_2.jpg") ;
    background-color: sienna;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 920px;
}

.logo-header{
    position: absolute;
    left: 10px;
}

.logo-landing{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    grid-column: 2;
}

.banner-title-1{
    grid-column: 2;
    color: whitesmoke;
    text-align: center;
    font-size: 5vw;
}


.landing-wrapper{
    position: relative;
    height: 50%;
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(3, 20%); */
    grid-template-rows: repeat(5, minmax(0, fit-content));
    /* gap: 10px; */
}

.landing-wrapper h3{
    margin-left: 10px;
    margin-bottom: 0;
}

.landing-left{
    grid-column: 1 / 6;
    grid-row: 1;
    background-color: whitesmoke;
}

.landing-left h2{
    grid-column: 1 / 5;
    /* background-color: black; */
    /* color: whitesmoke; */
    border-radius: 4px;
    padding: 5px;
    margin-left: 2px;
    margin-top: 0;
}

.landing-left .section{
    height: 310px;
    position: relative;
}

.section{
    overflow: hidden;
    grid-template-columns: repeat(3, 30%);
    column-gap: 10px;
}

.section .description{
    grid-column: 1 / 5;
    grid-row: 2;
    font-size: large;
    padding: 5px;
}

.section .button > a{
    position: absolute;
    bottom: 15px;
    right: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.section .note{
    display: none;
}

.carousel-wrapper{
    grid-column: 1 / 6;
    grid-row: 5;
}

.carousel{
    height: 100% !important;
    background-color: black;
}

.slide div{
    height: 100% !important;
    padding: 10px;
}

.carousel-root{
    height: 100% !important;
}

.map-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: 90%;
    position: relative;
    grid-column: 1 / 6;
    grid-row: 3;
    background-color: whitesmoke;
}

.phone{
    text-align:center;
}

.map{
    min-height: 200px;
    width: 100%;
    position: relative;
}

.address{
    text-align: center;
}

.schedule-wrapper{
    position: relative;
    grid-column: 1 / 6;
    grid-row: 4;
    background-color: whitesmoke;
}
.store-hours{
    text-align: center;
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.rest-hours{
    text-align: center;
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.schedule-title{
    text-align: center;
    background-color: rgb(221, 221, 221);
}

.schedule{
    position: relative;
    display: grid;
    /* padding-left: 5px;
    padding-right: 5px; */
    justify-content: center;
    grid-template-columns: repeat(2, fit-content);
    gap: 10px;
    grid-auto-rows: 1fr;
}

.schedule .day{
    text-align: center;
    grid-column: 1;
}

.schedule .time{
    text-align: center;
    grid-column: 2;
}

/* Menu */

.menu-wrapper{
    display: grid;
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
}
.menu-left{
    display: none;
}
.item-groups{
    top: 15%;
    position: sticky;
    display: flex;
    flex-direction: column;
}
.button{
    margin-bottom: 10%;
    border: none;
    background: none;
    cursor:pointer;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button:hover{
    background-color: rgb(226, 226, 226);
}

.menu-notes{
}

.menu-middle{
    grid-column: 3 /4;
    font-weight: bold;
}
.menu-right{
    width: 7vw;
    grid-column: 5;
    height: 100%;
}
.menu-title{
    text-align: center;
}
.item-type{
    font-family: monospace;
    font-size: xx-large;
    line-height: 50px;
    text-align:left;
    /* background-color: whitesmoke; */
    border-width: thick;
    border-style: solid;
    border-left: none;
    border-right: none;
    margin-top: 50px;
    margin-bottom: 15px;
    height: 50px;
    position: relative;
    /* min-width: fit-content; */
}
.group-par{
    font-size: 50%;
    text-align:left;
    /* margin-left: 50px; */

}
.item{
    grid-auto-flow: inherit;
    padding-left: 15px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(auto, 1fr);
    grid-auto-rows: min-content;
    margin-bottom: 20px;
}
.item-description{
    display: contents;
    font-weight: normal;
    grid-row: 2;
    font-size: small;
}
.item-group{
    position: relative;
    /* grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display: grid; */
}
.group-text{
    font-weight: bold;
    text-align: center;
    font-size: xx-small;
}

.item-footer{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    /* min-width: fit-content; */
}

.item-name{
    width: fit-content;
    text-align: left;
    grid-column: 1;
    font-size: 80%;
}
.item-elipses{
    overflow: hidden;
    font-size: xx-small;
    line-height: 2.5;
}
.item-price{
    text-align: left;
    grid-column: 3;
}

.item-wrapper{
    height: fit-content;
    position: relative;
    overflow: hidden;
}
.menu-img{
    display: none;
}


@media screen and (min-width: 768px) {
/* landing */
.landing-left{
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    background-color: whitesmoke;
}
.carousel-wrapper{
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}
.map-wrapper{
    display: grid;
    justify-content: center;
    grid-template-columns: 90%;
    position: relative;
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    background-color: whitesmoke;
}
.schedule-wrapper{
    position: relative;
    grid-column: 4 / 6;
    grid-row: 3 / 5;
    background-color: whitesmoke;
}
.schedule{
    position: relative;
    display: grid;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    grid-template-columns: repeat(2, 30%);
    gap: 10px;
    grid-auto-rows: 30px;
}
.store-hours{
    position: relative;
    width: 100%;
    height: fit-content;
}

.rest-hours{
    position: relative;
    width: 100%;
    height: fit-content;
}
/* Menu */

.hamburger {
    display: none;
}

.nav-links {
    background-color: #111;
    position: absolute;
    width:min-content;
    top: 0;
    right: 0;
    display: flex;
}

.menu-left{
    display: block;
    min-width: fit-content;
    grid-column: 1 / 3;
    background-color: whitesmoke;
    position: relative;
}


.menu-img{
    object-fit:cover;
    position: relative;
    display: flex;
    float: right;
    width: 50%;
    height: 100%;
}

.item-group{
    position: relative;
    width: 100%;
}
.item-group{
    position: relative;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    display: grid;
}

.menu-right{
    width: 7vw;
    grid-column: 5;
    height: 100%;
    background-color: whitesmoke;
}

}